:root {
  --theme-bg-color: rgb(16, 18, 27);
  /* --border-color: rgb(27, 128, 237);
  --border-color2: rgb(229, 66, 118); */
  --border-color: #6b84b0;
  --border-color2: #6b84b0;
  --theme-color: #d4daf5;
  --inactive-color: rgb(113 119 144 / 78%);
  --body-font: 'Poppins', sans-serif;
  --hover-menu-bg: rgba(12 15 25 / 30%);
  --content-title-color: #999ba5;
  --content-bg: rgb(146 151 179 / 13%);
  --button-inactive: rgb(249 250 251 / 55%);
  --dropdown-bg: #21242d;
  --dropdown-hover: rgb(42 46 60);
  --popup-bg: rgb(22 25 37);
  --overlay-bg: rgba(36, 39, 59, 0.3);
  --scrollbar-bg: rgb(1, 2, 3);
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
  background: #171718;
  /* background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  background-image: url(./assets/images/tech_neoncircuitboard_857021704_medium_lc5h05.jpeg);
  background-size: cover; */
  overflow: hidden;
  /* background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%); */
  /* background-image: url(https://rare-gallery.com/thumbs/356110-4k-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  /* height: 100vh; */
  /* background-position: center; */
  /* padding: 8px; */
}

.app {
  background-color: var(--theme-bg-color);
  /* border: none; */
  border: 1px solid var(--border-color);
  overflow: hidden;
  border-radius: 14px;
  /* backdrop-filter: blur(12pt); */
  /* -webkit-backdrop-filter: blur(12pt); */
  font-size: 15px;
  font-weight: 500;
  /* box-shadow: 0 0 15px 1px var(--border-color); */
}

button {
  /* border: none; */
  /* box-shadow: 0 0 15px 1px var(--border-color2); */
  cursor: pointer;
  background-color: var(--theme-bg-color);
  border-radius: 14px;
  border: 1px solid var(--border);

  /* backdrop-filter: blur(20px); */
  /* -webkit-backdrop-filter: blur(20px); */
  font-size: 15px;
  font-weight: 500;
  color: var(--theme-color);
  padding: 10px;
  margin: 2px;
}
button:active {
  background-color: rgb(255 255 255 / 31%);
}
.header {
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid var(--border-color); */
  /* padding: 0px 10px; */
}
p {
  color: var(--theme-color);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
  padding: 10px;
  border-left: 1px solid var(--border-color2);
}

:root {
  --comment: #565f89;
  --linenumbers: #565f89;
  --border: #6b84b0;
  --background-primary: #1a1b2679;
  --background-secondary: #a9b1d636;
  --color-primary: #dce4e9;
  --color-secondary: #42c6ff;
  --color-thirdly: #f8f8f0;
  --color-fourtly: #75ff91;
  --color-fiftly: #2eff85;
  /* --gutters-border: 1px solid transparent; */
  --border-width: 1px;
  --error: #e93838;
  --warning: #ffed2b;
  --success: #6de46d;
  --icons: #cae5f2;
  --progress: #42c6ff;
  --def: #2ac3de;
  --dec: #42c6ff;
  --classname: #f7768e;
  --control: #bb9af7;
  --property: #7dcfff;
  --atom: #f94c97;
  --number: #ff9e64;
  --string: #9ece6a;
  --tag: #9092de;
  --unit: #dda2f6;
  --color: #93ddfb;
  --var: #d4daf5;
  --keyword: #7dcfff;
  --self: #f7768e;
  --separator: #9aa5ce;
  --special: #f37be5;
  --operator: #7dcfff;
  --type: #a571f4;
  --bracket: #ffc32b;
  --meta: #f7768e;
  --regexp: #f7768e;
  --font-family: 'Fantastic';
  --drone1: #833783;
  --drone2: orchid;
  --drone3: pink;
  --drone4: #2a2c2e;
  --hover: #ec8bd6;
}
text,
input,
button,
textarea {
  font-family: var(--font-family);
  font-size: 12pt;
}
@font-face {
  font-family: 'Fantastic';
  src: url(./assets//fonts/FantasqueSansMono-Regular.ttf) format('truetype');
  font-display: swap;
}

#console:focus {
  color: var(--icons);
  /* background-color: var(--background-primary); */
}
#console {
  border: none;
}
#console {
  background-color: transparent;
  outline: none;
  resize: none;
  /* position: fixed; */
  /* bottom: 0; */
}
.success_line,
.error_line,
.info_line,
.warn_line {
  resize: vertical;
  z-index: 5;
  font-family: var(--font-family);
  font-style: normal;
  letter-spacing: -0.05em;
  background-color: var(--background-primary);
  padding-inline-start: 10px;
}
.error_line {
  color: #ff275d;
}
.info_line {
  border: var(--border-width) solid var(--comment);
  color: var(--icons);
}
#editor-container {
  z-index: 1;
  border: none;
  border-top: 1px solid var(--border-color2);
  border-bottom: 1px solid var(--border-color);

  /* border: solid 1px var(--border); */
}
.cm-editor {
  border: none;
  /* border-bottom: 1px solid var(--border);
  border-bottom: none; */
}
.header-button {
  cursor: pointer;
  background: transparent;
  border: none;
}
input {
  width: 92%;
  font-weight: 900;
  background-color: transparent;
  border: var(--border-width) solid var(--comment);
  color: var(--icons);
  padding: 8px;
}
input:focus {
  background-color: var(--icons);
  color: var(--background-primary);
}

.cm-completionLabel,
.cm-completionMatchedText,
.cm-completionDetail {
  font-family: var(--font-family);
}
.cm-searchMatch {
  background-color: #686971be !important;
}
.cm-searchMatch-selected {
  background-color: #de61b08e !important;
}

.shake {
  animation: shake-animation 3.52s ease infinite;
  transform-origin: 50% 50%;
}

.cm-gutters {
  background-color: transparent !important;
}
#buttons {
  margin-top: 5px;
  margin-bottom: 5px;
}

#run {
  height: 60px;
  margin-right: 20px;
  margin-left: 10px;
  cursor: pointer;
  filter: grayscale(0%);
}
#run:hover {
  filter: grayscale(100%) brightness(300%);
}
#run:active {
  filter: grayscale(100%) brightness(300%);
  transform: scale(1.2);
}
img,
button,
p {
  user-select: none;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(250, 242, 219);
  opacity: 0.7; /* Firefox */
}
.section {
  overflow-y: scroll;
  border: none;
  border-top: 1px solid #ffffff2b;
  /* border-bottom: 1px solid var(--border-color); */
  padding: 2px;
  height: 140px;
}
#tools {
  margin-top: 15px;
}
